graft custom_connector_example
graft custom_connector_example/test/resources
graft custom_connector_example/salesforce-example-test-files
graft custom_connector_integ_test
graft custom_connector_queryfilter
graft custom_connector_queryfilter/grammar
graft custom_connector_sdk/test/resources
graft custom_connector_tests
graft custom_connector_tests/configuration
graft custom_connector_tools
graft images
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md
include Dockerfile
include LICENSE
include MarketplaceIntegration.md
include README.md
include requirements.txt
include ThirdPartyAttributions.txt
include TroubleShootingGuide.md
